// Variables

$brand-primary: RGB(37, 78, 80);
$brand-secondary: rgb(131, 29, 27);
// $gray-dark: lighten(black, 25%);
$gray-dark: #404040;
// $gray: lighten(black, 50%);
$gray: #808080;
$white-faded: fade(white, 80%);
$gray-light: #eee;